/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

.navbar{
	background-color: #fff;
  .nav{

  	float: right;
	  	li{
	  		margin-right: 30px;
	  		color: #ff7373;
	  		a{
	  			background-color: #fff;
	  			color: #ff7373;	
	  		}
	  		a:hover{
	  		  	background-color: #ff7373;
	  		  	color: #fff;		
	  		}
	  		a:active{
	  			background-color: #ff7373;
	  			color: #fff;	
	  		}
	  	}	
  }
}

#logo{
	text-align: left;
	float: left;
	font-size: 36px;
	color: #ff7373;
	font-weight: bold;
	margin-left: 30px;
}

#main-container{
	margin-left: 20%;
	margin-right: 20%;
}
.post-container{
	padding: 20px;
	overflow:hidden;

}

.btn-primary{
	background-color: #ff7373 !important; 
	border-color: #ff7373 !important;
}

.label-primary{
	background-color: #ff7373 !important; 
	border-color: #ff7373 !important;
}
#tag-cloud{
  margin-top: 40px;
  width: 400px;
  line-height: 1.6em;
	.s { 
		background-color: #ff7373 !important; 
		border-color: #ff7373 !important;
		display: inline;
		padding: 0.2em 0.6em 0.3em;
		font-size: 75%;
		font-weight: bold;
		line-height: 1;
		color: #FFF;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25em;
	 }
    .m { 
    	background-color: #ff7373 !important; 
		border-color: #ff7373 !important;
		display: inline;
		padding: 0.2em 0.6em 0.3em;
		font-size: 100%;
		font-weight: bold;
		line-height: 1;
		color: #FFF;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25em;
    }
    .l {
    	background-color: #ff7373 !important; 
		border-color: #ff7373 !important;
		display: inline;
		padding: 0.2em 0.6em 0.3em;
		font-size: 125%;
		font-weight: bold;
		line-height: 1;
		color: #FFF;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25em;
		}
}
