<div class="navbar navbar-default">
	<span id="logo">Ayako Food</span>
	<ul class="nav  nav-pills">

	  <li role="presentation"><a href="#">Blog</a></li>
	  <li role="presentation"><a href="#">About</a></li>
	  <li role="presentation"><a href="#">Contact</a></li>
	</ul>
</div>